<div class="">
  <form [formGroup]="questionForm" novalidate (ngSubmit)="onSubmit(questionForm.value)">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Vraag" formControlName="question">
              <mat-error *ngIf="questionForm.controls['question'].hasError('required')">
                Vraag is <strong>vereist</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Bijlage" formControlName="attachment">
              <mat-error *ngIf="questionForm.controls['attachment'].hasError('required')">
                Bijlage is <strong>vereist</strong>
              </mat-error>
            </mat-form-field>
            <p>StartCode:</p>
            <div style="border-style: solid; border-width: 1px; border-color: gainsboro;">
              <ngx-monaco-editor [options]="editorOptions" [ngModelOptions]="{standalone: true}" [(ngModel)]="code" (change)="updateAnswer()"></ngx-monaco-editor>
            </div>
            <p>Unittests:</p>
            <div style="border-style: solid; border-width: 1px; border-color: gainsboro;">
              <ngx-monaco-editor [options]="editorOptions" [ngModelOptions]="{standalone: true}" [(ngModel)]="test"></ngx-monaco-editor>
            </div>
            <p>Correcte uitwerking:</p>
            <div style="border-style: solid; border-width: 1px; border-color: gainsboro;">
              <ngx-monaco-editor [options]="editorOptions" [ngModelOptions]="{standalone: true}" [(ngModel)]="answer"></ngx-monaco-editor>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
