<div class="grid-container">
  <h1 class="mat-h1">{{title}}</h1>
  <p class="breadcrum"><a routerLink="/rapportage">Rapportage</a> / <a routerLink="/rapportage/1">CampagneNaam</a> / <span class="bold breadcrum-selected">DeelnemerNaam</span></p>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="bold"># 1 </span>&nbsp;&nbsp;<span class="chip">Multiple Choice</span>
      </mat-panel-title>
      <mat-panel-description>
        <span class="bold">Vraagstelling:</span>&nbsp;&nbsp;Noem 1 Unit-test framework.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
    <span class="bold small-title">Gegeven antwoord:</span>
      <br>
      Hier komt het antwoord op de vraag.
    </p>

  </mat-expansion-panel>
</div>
