<div class="grid-container">

  <form [formGroup]="campagneForm" novalidate (ngSubmit)="onSubmit(campagneForm.value)">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <label for="cName"></label>
              <input id="cName" matInput placeholder="Campagnenaam" formControlName="name">
              <mat-error *ngIf="campagneForm.controls['name'].hasError('required')">
                Campagnenaam is <strong>vereist</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span class="mat-calendar-body-label">Aantal Vragen</span>
            <mat-slider thumbLabel min="1" [(ngModel)]="valueTotal" max="{{maxTotal}}" formControlName="amountTotal" class="full-width"></mat-slider>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span class="mat-calendar-body-label">Aantal open vragen</span>
            <mat-slider thumbLabel min="0" [(ngModel)]="valueOpen" max="{{maxOpen}}" formControlName="amountOpen" class="full-width" (change)="updateSlider()"></mat-slider>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span class="mat-calendar-body-label">Aantal meerkeuzevragen</span>
            <mat-slider thumbLabel min="0" [(ngModel)]="valueMultiple" max="{{maxMultiple}}" formControlName="amountMultiple" class="full-width" (change)="updateSlider()"></mat-slider>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span class="mat-calendar-body-label">Aantal programmeervragen</span>
            <mat-slider thumbLabel min="0" [(ngModel)]="valueProgram" max="{{maxProgram}}" formControlName="amountProgram" class="full-width" (change)="updateSlider()"></mat-slider>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Verzend</button>
      </mat-card-actions>
    </mat-card>
  </form>

</div>
