.center {
  text-align: center;
  width: 100%;
  display:block;
}

.hrefSize{
  font-size: 150%;
}

.titleSize{
  font-size: 200%;
}

.main .row.header {
  flex: 0 1 auto;
  background-color: var(--secondary-color);
  color: white;
  font-size: larger;
  text-align: center;
  padding: 1ex;
  box-shadow: 0px 4px 4px black;
}
