<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><img src="assets/img/quintor-logo.jpg" alt="..."></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/campagnes">Campagnes</a>
      <a mat-list-item routerLink="/vragen">Vragen</a>
      <a mat-list-item routerLink="/rapportage">Rapportage</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <button class="button-create" mat-button [matMenuTriggerFor]="belowMenu">Create</button>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <button routerLink="/campagne-create" mat-menu-item>Campaign</button>
        <button routerLink="/question-create" mat-menu-item>QuestionOverview</button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
